body {
    font-family: 'Play', sans-serif;
    padding: 50px;
    background-color: #110c10;
}

button {
    height: 40px;
    background-color: #110c10;
    color: #e0daca;
    border-color: #9e9485;
    border-radius: 12px;
}

button:hover {
    background-color: #201009;    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    border: solid 3px;
    border-color: #9e9485;
    border-radius: 4px;
    width: 300px;
    height: 300px;
    padding: 2px;
}

.grid div {
    width: 20px;
    height: 20px;
}

.score {
    font-size: 30px;
    color: #9e9485;
    margin-bottom: 10px;
}

.shooter {
    border-radius: 3px;
    background-color: #00325a;
}

.invader {
    background-color: #2b0150;
    border-radius: 10px;
}

.boom {
    background-color: #940a04;
}

.laser {
    background-color: #9f9007;
}

.buttonsRow {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
}

.shoot {
    margin-left: 25px;
    margin-right: 25px;
}